#pval-cont
{
    position: fixed;
    top: 10px; left: 0; right: 0;
    z-index: 9999;
    display: none;
}
#pw-validate {

    background:#19193b;
    font-size:.875em;
    border-radius:5px;
    box-shadow:0 1px 3px #ccc;
    border:1px solid #ddd;
    padding: 1em;
}
#pw-validate ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
#pw-validate ul > li svg
{
    height: 2em;
    width: 2em;
}
.pw-invalid rect {
    fill:#ec3f41;
}
.pw-valid rect {
    fill:#3a7d34;
}